/* General */
:root {
  --navbar-height: 60px;
  --primary: orange;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images5.alphacoders.com/424/424912.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none !important;
}
body {
  background-image: url('assets/background.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body::before, body::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
}
body::before {
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border: 2px solid #000;
  opacity: .3;
}
body::after {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #000;
  opacity: .2;
}
.cover-container {
  max-width: 42em;
}

/* Home */
.section-title {
  margin-top: calc(var(--navbar-height) + 5px);
}
section hr {
  border-color: var(--primary) !important;
}
.section-title::after {
  content: '';
  display: block;
  margin: 1.25rem auto;
  width: 10%;
  border-bottom: 3px solid;
  border-color: var(--primary);
}

/* Button */
button {
  border: none;
}
.button, .button:active, .button:focus, .button:hover {
  color: inherit;
  text-decoration: none;
}
.button {
  position: relative;
  padding: 12px 30px;
  font-family: "Marcellus SC",serif;
  line-height: 1.2;
  vertical-align: middle;
  background-color: rgba(14,14,14,.9);
  transition: .2s box-shadow, .2s background-color, .2s color, .2s transform, .2s font-weight;
  border: 1px solid grey;
}
.button::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid;
  border-radius: 2px;
  transition: .3s background-color, .3s border-color, .3s top, .3s right, .3s bottom, .3s left;
  z-index: 1;
}
.button:hover {
  color: var(--primary);
}
.button:hover::before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Overlay */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1031;
}

.ReactModal__Content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: #fff;
  overflow: auto;
  outline: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  box-sizing: content-box;
  padding: 20px;
}

/* Img Text */
.img-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-text h3 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  padding: 24px;
  text-shadow: 0 2px 24px rgba(0,0,0,.6);
  z-index: 2;
}
.ting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.img-text:before {
  background: linear-gradient(180deg,transparent,#000 69.27%);
  bottom: 0;
  content: "";
  height: 95px;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  z-index: 1;
}
.img-text:after {
  border: 1px solid hsla(0,0%,100%,.2);
  bottom: 4px;
  box-sizing: border-box;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2;
}
/* .img-text img {
  height: 100%;
  width: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.img-text h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  margin: 0;
  padding: 24px;
  text-shadow: 0 2px 24px rgba(0,0,0,.6);
  z-index: 3;
} */