/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
body {
  font-family: "Open Sans", sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .navbar {
  font-family: "Marcellus SC",serif;
}

/* General */
:root {
  --navbar-height: 60px;
  --primary: #dc143c;
  --image-border-color: black;
  --hero-alpha: 0.6;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, var(--hero-alpha)), rgba(0, 0, 0, var(--hero-alpha))), url('https://images6.alphacoders.com/451/451408.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .p-3 {
  text-shadow: 0 2px 24px rgba(0,0,0,.6);
}
a {
  text-decoration: none !important;
}
p {
  font-size: 1.25rem;
}
body {
  background-image: url('../assets/background.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body::before, body::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
}
body::before {
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border: 2px solid #000;
  opacity: .3;
}
body::after {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #000;
  opacity: .2;
}
.cover-container {
  max-width: 42em;
}

/* Home */
.section-title {
  margin-top: calc(var(--navbar-height) + 10px);
}
section hr {
  border-color: var(--primary) !important;
}
.section-title::after {
  content: '';
  display: block;
  margin: 1.25rem auto;
  width: 10%;
  border-bottom: 3px solid;
  border-color: var(--primary);
}

/* Button */
button {
  border: none;
}
.button, .button:active, .button:focus, .button:hover {
  color: inherit;
  text-decoration: none;
}
.button {
  position: relative;
  padding: 12px 30px;
  font-family: "Marcellus SC",serif;
  line-height: 1.2;
  vertical-align: middle;
  background-color: rgba(14,14,14,.9);
  transition: .2s box-shadow, .2s background-color, .2s color, .2s transform, .2s font-weight;
  border: 1px solid grey;
}
.button::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid;
  border-radius: 2px;
  transition: .3s background-color, .3s border-color, .3s top, .3s right, .3s bottom, .3s left;
  z-index: 1;
}
.button:hover {
  color: var(--primary);
}
.button:hover::before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Overlay */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1031;
}

.ReactModal__Content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: #fff;
  overflow: auto;
  outline: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  box-sizing: content-box;
  padding: 20px;
}

/* Img Text */
.img-text, .character-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-text h3, .character-container h3 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  padding: 24px;
  text-shadow: 0 2px 24px rgba(0,0,0,.6);
  z-index: 2;
}
.quadruple-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.four-grid {
  grid-template-columns: repeat(4, 1fr);
}
.img-text::before, .background-img::before {
  background: linear-gradient(180deg,transparent,#000 69.27%);
  bottom: 0;
  content: "";
  height: 95px;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  z-index: 1;
}
.img-text:after {
  border: 1px solid hsla(0,0%,100%,.2);
  bottom: 4px;
  box-sizing: border-box;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2;
}

/* Gallery */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}
.image-container {
  position: relative;
}
.image-container h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-container h1::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border: solid 3px transparent;
  border-top-color: var(--image-border-color);
  border-left-color: var(--image-border-color);
  transition: all 0.5s ease 0s;
  z-index: 3;
}
.image-container h1::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 35px;
  right: 35px;
  width: 48px;
  height: 48px;
  border: solid 3px transparent;
  border-bottom-color: var(--image-border-color);
  border-right-color: var(--image-border-color);
  transition: all 0.5s ease 0s;
  z-index: 3;
}
.image-container:hover h1 {
  opacity: 1;
}

/* Premise */
.timeline {
  border-left: 3px solid var(--primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
}
.timeline .event {
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  font: 1em "Marcellus SC",serif;
  text-align: right;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 3px var(--primary);
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

/* Characters */
.character-container {
  position: relative;
  width: 200px;
  height: 400px;
}
.character-img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
  z-index: 2;
}
.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center center / cover;
  z-index: 1;
}
.background-img::before {
  height: 205px;
}
.modal-body {
  position: absolute;
  bottom: 28px;
  left: 100px;
  width: 600px;
}
.background-section {
  width: 50%;
  background: url('https://assetsio.reedpopcdn.com/the-witcher-3-jenny-o-the-woods-how-to-kill-the-nightwraith-3696-1432128535317.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp') no-repeat center center / cover;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.text-section {
  width: 50%;
}

/* Storyworld */
.border-frame::before {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #fff;
  opacity: .3;
}

/* Description */
.mask {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-image {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
	height: 400px;
}